unselected-color = dcd3a140
selected-color = d85a6740
border-color = d85a67
border-secondary-color = e6d300

# 0 to disable borders
border-size = 4

# Border gradient type:
# - none: only the primary border color is used
# - linear: uses a linear gradient relative to the selection
# - loop: uses a repeated linear gradient
border-gradient = linear

# For "linear" gradient mode
# Counterclockwise, in degrees
gradient-angle = 45

# For "loop" gradient mode
# The distance between gradient stops
loop-step = 100

# For "linear" and "loop" gradient modes
# In milliseconds, 0 to disable animation
# With "linear" mode: the time it takes for the pattern to make one full turn
# With "loop" mode: the time it takes for the pattern to move by double the loop step
animation-duration = 1000

# If true, dulcepan will save immediately when interactive selection is stopped
# or when a whole output is selected with a mouse button.
# (i'm still unsure about this one)
quick-select = false

# If true, dulcepan will remember selection between runs.
# The state is stored at $XDG_CACHE_HOME/dulcepan.
persistence = false

# PNG (zlib) compression level, 0-9
png-compression = 6

# Key bindings. Each binding is a comma-separated list of key names; empty names
# are ignored. A binding may be empty.
quit-key = Escape
save-key = Space,Return
