/* Animations */
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

#waybar {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(74, 63, 31, 0.5);
  border-bottom: solid 1px;
  color: rgba(254, 251, 233, 0.6);
}

tooltip {
  background-color: rgba(74, 63, 31, 0.8);
  color: #fefbe9;
  border: 2px solid;
  border-color: #d85a67;
  animation: fade-in;
  animation-duration: 0.2s;
}
tooltip label {
  font-family: "Roboto Mono", monospace;
  color: #fefbe9;
}

#tray {
  color: #000000;
  background-color: #e08e1f;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

#workspaces button {
  padding-left: 8px; 
  font-size: 14px;
  color: #2a2619;
  background-color: #d85a67;
  border-radius: 20px;
  margin: 3px;
}

#workspaces button.active {
  color: #e6d300;
}

#window {
  color: #2a2619;
  background-color: #fefbe9;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  margin: 5px;
} 

#window #waybar.empty{
    background-color: transparent;
}

.modules-right {
  color: #dcd3a1;
}

#network,
#pulseaudio,
#backlight,
#memory,
#termperature,
#battery {
  padding-right: 8px;
}

#clock {
  background-color: #e6d300;
  color: #2a2619; 
  margin: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 50px;
}

#custom-power {
  font-size: 26px;
  background-color: #d85a67;
  border-radius: 25px;
  margin: 3px;
  padding-left: 16px;
  color: #e6d300;
}
