/* Animations */
@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 1;}
}

#waybar {
  min-height: 0;
	font-family: "Roboto Mono", monospace;
  font-weight: bold;
	font-size: 13px;
	background-color: rgba(35, 37, 90, 0.2);
  border-bottom: solid 1px;
	color: rgba(247, 104, 163, 0.2);
}

tooltip {
  background-color: rgba(35, 37, 90, 0.6);
  color: #9AAAE5;
  border: 2px solid;
  border-color: rgba(247, 104, 163, 0.2);
  animation: fade-in;
  animation-duration: 0.2s;
}
tooltip label {
  font-family: "Roboto Mono", monospace;
  color: #9AAAE5;
}

#tray {
	color: #000000;
  background-color: #9AAAE5;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

#workspaces {
  padding-left: 8px; 
  font-size: 14px;
  color: #13133A;
  border-radius: 20px;
}

#workspaces button.active {
  color: #F768A3;
}

.modules-center {
  color: #13133A;
  background-color: #F768A3;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  margin: 5px;
}
window#waybar.empty .modules-center {
    background-color: transparent;
}

.modules-right {
  color: #9aaae5;
}

#network,
#pulseaudio,
#backlight,
#memory,
#termperature,
#battery {
  padding-right: 8px;
}

#clock {
  background-color: #258FC4;
  color: #13133A; 
  margin: 5px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 50px;
}

#custom-power {
  font-size: 22px;
  padding-right: 14px;
  color: #F768A3;
}
